{% extends 'home/base.html' %}
{% load static %}

{% block content %}

<div class="mx-[100px]">
    <!-- Contenedor del título -->
    <div class="flex justify-end items-start my-[200px]">
        <div class="text-right">
            <h2 class="text-6xl font-bold">Welcome to TecnoStore</h2>
            <p class="ml-[250px] my-[25px]"">At TecnoStore, we offer the latest in tech innovation. From smart devices to cutting-edge accessories, our catalog meets all your digital needs. Discover exclusive offers and see how technology can enhance your daily life. Welcome to TecnoStore!</p>
        </div>
    </div>

    <div class=" flex justify-center items-start mt-[400px]">
            <div class="text-center">
                <h2 class="text-3xl font-bold">Products</h2>
                <p>The best products are here!</p>
            </div>
        </div>

        <!-- Incluir la plantilla de productos -->
        {% include 'products/products.html' with products=products %}
    </div>

    {% endblock %}